/* Location.css */

.location_wrapper {
  margin: 0 auto;
}

.map_frame {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.map_wrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
  max-width: 450px;
  padding-top: 75%;
}