.category {
  padding: 5px 10px;
  background: var(--button-bg-color);
  text-wrap: nowrap;
  text-transform: capitalize;
  color: var(--main-dark-color);
}

.selectedCategory {
  font-weight: 300;
  background-color: var(--main-dark-color);
  color: var(--main-bg-color);
}

@media (max-width: 900px) {
  .category {
    font-size: 12px;
  }
}
