.image {
  width: 100%;
  object-fit: cover;
  height: 150px;
}

.card {
  width: 250px;
  border-radius: 10px;
  overflow: hidden;
  background: rgba(188, 202, 235, 0.2);
}

.body {
  padding: 10px;
  overflow: hidden;
}

.link {
  overflow: hidden;
  white-space: nowrap;
  text-wrap: nowrap;
  display: block;
  cursor: pointer;
  text-overflow: ellipsis;
}